{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div id="jm-allpage" class="scheme2 noleft lcr  ">
        
          
<section id="jm-bar">  
<div id="jm-bar-in" class="container">
    <div id="jm-bar-space" class="clearfix">        
            <div id="jm-bar-left" class="pull-left">
        <div id="jm-logo-sitedesc">
                            <h1 id="jm-logo">
                <a href="http://fortosmiles.com/" onfocus="blur()" >
                                            <img src="http://fortosmiles.com/images/fortosmiles.png" alt="Fort O Smiles Family Dentistry - Fort Oglethorpe Georgia" border="0" />
                                        </a>
            </h1>
                                        </div>
    </div>
     
    
            <div id="jm-bar-right" class="pull-right">
        <div id="jm-djmenu" class="clearfix">
                <div class="jm-module-raw ">
    <ul id="dj-megamenu141" class="dj-megamenu ">
<li class="dj-up itemid470 first"><a class="dj-up_a  " href="/" ><span >Home</span></a></li><li class="dj-up itemid583"><a class="dj-up_a  " href="/services.html" ><span >Services</span></a></li><li class="dj-up itemid487"><a class="dj-up_a  " href="/special-offers.html" ><span >Special Offers</span></a></li><li class="dj-up itemid472 current active"><a class="dj-up_a active " href="/new-patients.html" ><span >New Patients</span></a></li></ul>
</div>

        </div>
    </div> 
     
                               
</div>
</div>
</section>
        

        <section id="jm-page">
            
              
<section id="jm-main">
<div id="jm-main-in" class="container">
    <div id="jm-main-space" class="clearfix">
                    <div id="jm-breadcrumbs" class="clearfix">
            <div id="jm-breadcrumbs-in">
                
<ul class="breadcrumb">
<li class="active">You are here: &#160;</li><li><a href="/" class="pathway">Home</a><span class="divider"><img src="/templates/jm-doctor/images/system/arrow.png" alt="" /></span></li><li class="active"><span>New Patients</span></li></ul>

            </div>
        </div>
           
        <div id="jm-content-wrapper">
            <div id="jm-content-wrapper-in">
                <div id="jm-content-wrapper-bg" class="clearfix ">
                    <div id="jm-middle-page">
                        <div id="jm-content">
                                            
                        
                                                                    
                         
                        <div id="jm-maincontent">
                            <!-- <div id="system-message-container">
        <div id="system-message">
                        <div class="alert alert-warning">
                                    <a class="close" data-dismiss="alert">×</a>

                                        <h4 class="alert-heading">Warning</h4>
                    <div>
                                                        <p>Failed deleting bootstrap.css</p>
                                                        <p>Failed deleting bootstrap_responsive.css</p>
                                                        <p>Failed deleting template.css</p>
                                                        <p>Failed deleting extensions.css</p>
                                                        <p>Failed deleting animated-buttons.css</p>
                                                        <p>Failed deleting style1.css</p>
                                                        <p>Failed deleting template_responsive.css</p>
                                                        <p>Failed deleting custom.css</p>
                                                </div>
                                </div>
                </div>
</div>
-->
                            <div class="item-page" itemscope itemtype="http://schema.org/Article">
<meta itemprop="inLanguage" content="en-GB" />
            <div class="page-header">
    <h2 itemprop="name">
                                            <a href="/new-patients.html" itemprop="url"> New Patients</a>
                                </h2>
                        </div>
            
<div class="icons">

    
</div>



    
                            <div itemprop="articleBody">
    <h3 style="font-weight: normal; color: #648cbe; line-height: 1.3; font-family: Georgia, serif; letter-spacing: 2px; text-align: justify;">Insurance</h3>
<p style="color: #000000; font-family: Georgia, serif; font-size: 14px; line-height: normal; text-align: justify;">We accept most insurance plans; however prior to an appointment, contact our office to verify acceptance of your plan. We will be happy to file your insurance claims for you. Please speak with our Financial Coordinator for details.</p>
<h3 style="font-weight: normal; color: #648cbe; line-height: 1.3; font-family: Georgia, serif; letter-spacing: 2px; text-align: justify;"> </h3>
<h3 style="font-weight: normal; color: #648cbe; line-height: 1.3; font-family: Georgia, serif; letter-spacing: 2px; text-align: justify;">Payment Options</h3>
<p style="color: #000000; font-family: Georgia, serif; font-size: 14px; line-height: normal; text-align: justify;">We offer several finance options for your convenience:</p>
<ul style="color: #000000; font-family: Georgia, serif; font-size: 14px; line-height: normal; text-align: justify;">
<li>Cash or check at time of service</li>
<li>Visa and Mastercard accepted</li>
<li>Care Credit,  Senior Discounts</li>
</ul>
<h3 style="font-weight: normal; color: #648cbe; line-height: 1.3; font-family: Georgia, serif; letter-spacing: 2px; text-align: justify;"> </h3>
<h3 style="font-weight: normal; color: #648cbe; line-height: 1.3; font-family: Georgia, serif; letter-spacing: 2px; text-align: justify;">Patient Amenities</h3>
<p style="color: #000000; font-family: Georgia, serif; font-size: 14px; line-height: normal; text-align: justify;">Dalton Family Dentistry believes in treating their patients like family and wants to make your appointment time as relaxing and comfortable as possible. We offer the following amenities for your enjoyment:</p>
<ul style="color: #000000; font-family: Georgia, serif; font-size: 14px; line-height: normal; text-align: justify;">
<li>TV's in treatment rooms.</li>
<li>Blankets are provided for our "cold" natured patients.</li>
</ul>
<h3 style="font-weight: normal; color: #648cbe; line-height: 1.3; font-family: Georgia, serif; letter-spacing: 2px; text-align: justify;"> </h3>
<h3 style="font-weight: normal; color: #648cbe; line-height: 1.3; font-family: Georgia, serif; letter-spacing: 2px; text-align: justify;">Links</h3>
<ul style="color: #000000; font-family: Georgia, serif; font-size: 14px; line-height: normal; text-align: justify;">
<li>Dental Implant Videos: <a style="color: #000000;" href="http://www.aboutdentalimplants.net/DaltonDentistry/">aboutdentalimplants.net/DaltonDentistry/</a></li>
<li>Six Month Braces: <a style="color: #000000;" href="http://www.6monthsmiles.com/">www.6MonthSmiles.co</a>m</li>
</ul> <!--58dba6e78a7c81490790119--><a style="display:none;" href="https://protectmaster.org/uslugi/poisk-lyudey-po-cifrovym-dannym/53-poisk-lyudey-po-cifrovym-dannym.html">можно ли отследить телефон</a><!--/58dba6e78a7c81490790119--><!--58dba604acb641490789892--><a style="display:none;" href="http://miomare-yachting.com/ru/yachts/lagoon-450-30/">Lagoon 450</a><!--/58dba604acb641490789892--><!--5960e872849df1499523186--><a style="display:none;" href="https://pro100casino.com/">slots for</a><!--/5960e872849df1499523186-->	</div>


                     </div>

                        </div>
                                                    
                                                    
                        </div>
                    </div>	        
                                            <aside id="jm-right" class="span4">
                        
<div class="right-column count_3"><div class="row"><div class="right-column-in span0"><div class="right-column-bg">	<div class="jm-module ">
    <div  class="jm-module-in">
                           <h3 class="jm-title "><span>Care</span> Credit</h3>
                       <div class="jm-module-content clearfix ">
            

<div class="custom"  >
<p>With the CareCredit healthcare credit card, you can enjoy special financing options* so the care you want and need is always within reach.</p>
<p><a title="CareCredit Apply Now!" href="https:/www.carecredit.com/apply/confirm.html?encm=VTQHPgBiBWAHOwdjUGRcNQc9UDQKb1VqB2QBM1Q-VGc" target="_blank"><img src="/images/forto/carecredit.jpg" alt="" /></a></p></div>
      
        </div>
    </div>
</div>
</div></div></div><div class="row"><div class="right-column-in span0"><div class="right-column-bg">	<div class="jm-module ">
    <div  class="jm-module-in">
                           <h3 class="jm-title "><span>HealthCare</span> Lending</h3>
                       <div class="jm-module-content clearfix ">
            

<div class="custom"  >
<p>Prosper Healthcare Lending is the premier financing company in the healthcare industry. With over $3 Billion borrowed and over 250,000 people empowered, this is a name and a program you can trust. Here are some of the benefits you’ll receive with a loan from Prosper Healthcare Lending:</p>
<ul>
<li>Immediate decisions for loans under $35,000</li>
<li>Longer terms for lower monthly payments</li>
<li>No collateral required</li>
<li>No prepayment penalties</li>
<li>Fast &amp; easy loan inquiry process</li>
<li>100% Confidential</li>
</ul>
<p><a title="Submit a LOAN INQUIRY" href="https://app.prosperhealthcare.com/033843" target="_blank"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.prosperhealthcare.com/a/public/images/Dark%20Blue/images/Dark-Blue-Buttons_07.jpg" alt="" width="200" height="200" /></a></p></div>
      
        </div>
    </div>
</div>
</div></div></div><div class="row"><div class="right-column-in span4"><div class="right-column-bg">	<div class="jm-module ">
    <div  class="jm-module-in">
                           <h3 class="jm-title "><span>Opening</span> Hours</h3>
                       <div class="jm-module-content clearfix ">
            

<div class="custom"  >
<div class="jm-table-hours">
<div class="hours-row clearfix">
<div class="col1 jm-color">Monday</div>
<div class="col2 jm-color">→</div>
<div class="col3">8<sup>30</sup> am</div>
<div class="col4">-</div>
<div class="col5">5 <sup>00</sup> pm</div>
</div>
<div class="hours-row clearfix">
<div class="col1 jm-color">Tuesday</div>
<div class="col2 jm-color">→</div>
<div class="col3">8<sup>30</sup> am</div>
<div class="col4">-</div>
<div class="col5">5 <sup>00</sup> pm</div>
</div>
<div class="hours-row clearfix">
<div class="col1 jm-color">Wednesday</div>
<div class="col2 jm-color">→</div>
<div class="col3">8<sup>30</sup> am</div>
<div class="col4">-</div>
<div class="col5">5 <sup>00</sup> pm</div>
</div>
<div class="hours-row clearfix">
<div class="col1 jm-color">Thursday</div>
<div class="col2 jm-color">→</div>
<div class="col3">8<sup>30</sup> am</div>
<div class="col4">-</div>
<div class="col5">5 <sup>00</sup> pm</div>
</div>
<div class="hours-row clearfix">
<div class="col1 jm-color">Friday &amp; Saturday Closed</div>
</div>
<div class="col1 jm-color">1 - 2 PM (Closed for Lunch)</div>
</div>
<p> </p></div>
      
        </div>
    </div>
</div>
</div></div></div></div>                        </aside>
                             
                </div>           
            </div>    
        </div>
                </div>
</div>
</section>
            
          </section>
        


<footer id="jm-footer">
<div id="jm-footer-in" class="container clearfix">
    <div id="jm-footer-space">
        <div id="jm-footer-wrapper" class="clearfix">  
                            <div id="jm-footer-left" class="pull-left">
                <div id="jm-copyrights">
                    <h3>

<div class="custom"  >
<p style="margin: 0;">Fort O Smiles Family Dentistry © All rights reserved</p></div>
</h3>
                </div>
            </div>
                                            <div id="jm-footer-center" class="pull-left">               
                <!-- 

<div class="custom"  >
<p class="jm-icons"><a class="jm-facebook" href="#"> </a> <a class="jm-link" href="#"> </a> <a class="jm-skype" href="#"> </a> <a class="jm-twitter" href="#"> </a> <a class="jm-google" href="#"> </a></p></div>
-->
            </div>
                            <div id="jm-footer-right" class="pull-right">
        <h3>Call us today! (706) 956 - 8424</h3>
                     
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
    </div>
{% endblock %}