{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="jm-allpage" class="scheme1 nocolumn lcr  ">
    
            <section id="jm-bar">
                <div id="jm-bar-in" class="container">
                    <div id="jm-bar-space" class="clearfix">
                        <div id="jm-bar-left" class="pull-left">
                            <div id="jm-logo-sitedesc">
                                <h1 id="jm-logo">
                                    <a href="" onfocus="blur()">
                                        <img src="{% static 'images/fortosmiles.png' %}" alt="Fort O Smiles Family Dentistry - Fort Oglethorpe Georgia" border="0" />
                                    </a>
                                </h1>
                            </div>
                        </div>
    
                        <div id="jm-bar-right" class="pull-right">
                            <div id="jm-djmenu" class="clearfix">
                                <div class="jm-module-raw ">
                                    <ul id="dj-megamenu141" class="dj-megamenu ">
                                        <li class="dj-up itemid470 first current active"><a class="dj-up_a active " href="/"><span >Home</span></a></li>
                                        <li class="dj-up itemid583"><a class="dj-up_a  " href="/services.html"><span >Services</span></a></li>
                                        <li class="dj-up itemid487"><a class="dj-up_a  " href="/special-offers.html"><span >Special Offers</span></a></li>
                                        <li class="dj-up itemid472"><a class="dj-up_a  " href="/new-patients.html"><span >New Patients</span></a></li>
                                    </ul>
                                </div>
    
                            </div>
                        </div>
    
                    </div>
                </div>
            </section>
    
            <section id="jm-header">
                <div id="jm-header-in" class="container">
                    <div id="jm-header-space">
                        <div class="jm-module  header-ms">
                            <div class="jm-module-in">
                                <div class="jm-module-content clearfix notitle">
    
                                    <div style="border: 0px !important;">
                                        <div id="djslider-loader17m233" class="djslider-loader">
    
                                            <div id="djslider17m233" class="djslider">
                                                <div id="slider-container17m233" class="slider-container">
                                                    <ul id="slider17m233">
                                                        <li>
    
                                                            <a href="/86-dental-clinic/103-we-care-about-your-smile.html" target="_self"><img src="{% static 'media/djmediatools/cache/1168x470-crop-90-images_modules_slider_slide1.jpg' %}" alt="Fort O Smiles Family Dentistry Welcomes You!" class="dj-image" /></a>
    
                                                            <div class="dj-slide-desc">
                                                                <!-- Slide description area: START -->
                                                                <div class="dj-slide-desc-in">
                                                                    <div class="dj-slide-desc-bg"></div>
                                                                    <div class="dj-slide-desc-text">
    
                                                                        <div class="dj-slide-title">
                                                                            <a href="/86-dental-clinic/103-we-care-about-your-smile.html" target="_self">										Fort O Smiles Family Dentistry Welcomes You!									</a> </div>
    
                                                                        <div class="dj-slide-description">
                                                                            <p><span style="color: #000000; font-family: Georgia, serif; font-size: 14px; line-height: normal; text-align: justify;">Committed to gentle, exceptional personalized care</span></p>
                                                                        </div>
    
                                                                        <div style="clear: both"></div>
                                                                        <div class="dj-readmore-wrapper">
                                                                            <a href="/86-dental-clinic/103-we-care-about-your-smile.html" class="dj-readmore" target="_self">Readmore</a>
                                                                        </div>
                                                                        <div style="clear: both"></div>
                                                                    </div>
                                                                </div>
                                                                <!-- Slide description area: END -->
                                                            </div>
    
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div id="navigation17m233" class="navigation-container">
                                                    <img id="prev17m233" class="prev-button" src="{% static 'images/modules/navi/prev.png' %}" alt="Previous" />
                                                    <img id="next17m233" class="next-button" src="{% static 'images/modules/navi/next.png' %}" alt="Next" />
                                                    <img id="play17m233" class="play-button" src="{% static 'images/modules/navi/play.png' %}" alt="Play" />
                                                    <img id="pause17m233" class="pause-button" src="{% static 'images/modules/navi/pause.png' %}" alt="Pause" />
                                                </div>
                                                <div id="cust-navigation17m233" class="navigation-container-custom">
                                                    <div class="cust-navigation-in">
                                                        <span class="load-button load-button-active"></span> </div>
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </section>
    
            <section id="jm-page">
    
                <section id="jm-top">
                    <div id="jm-top-in" class="container">
                        <div id="jm-top-space">
    
                            <div class="top count_3">
                                <div class="row">
                                    <div class="top-in span4">
                                        <div class="top-bg">
                                            <div class="jm-module ">
                                                <div class="jm-module-in">
                                                    <h3 class="jm-title "><span>Our</span> services</h3>
                                                    <div class="jm-module-content clearfix ">
    
                                                        <img id="mod235_djtabs_loading" src="{% static 'components/com_djtabs/assets/images/ajax-loader.gif' %}" alt="loading..." />
    
                                                        <div id="mod235_djtabs" class="djtabs default-theme accordion" style="visibility:hidden">
    
                                                            <div class="djtabs-title-wrapper">
                                                                <div id="mod235_djtab1" class="djtabs-title djtabs-accordion mod235_djtabs_help_class">
                                                                    <span class="djtab-text" title="Preventative Dentistry">
                                            Preventative Dentistry</span>
                                                                </div>
                                                            </div>
                                                            <div class="djclear"></div>
                                                            <div class="djtabs-in-border">
                                                                <div class="djtabs-in">
    
                                                                    <div class="djtabs-body accordion-body djclear type-article">
                                                                        <div class="djtabs-body-in djtabs-article-body-in">
                                                                            <div class="djtabs-article-group djtabs-group-active">
                                                                                <div class="djtabs-article-content">
                                                                                    <p>The absolute best way to preserve your dental health is to maintain a sensible oral hygiene routine. In addition to daily flossing and brushing, this includes regular dental examinations and professional cleanings. A complete dental exam can help ensure you keep your smile healthy and bright.</p>
    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="djtabs-title-wrapper">
                                                                <div id="mod235_djtab2" class="djtabs-title djtabs-accordion mod235_djtabs_help_class">
                                                                    <span class="djtab-text" title="Restorative Dentistry">
                                            Restorative Dentistry</span>
                                                                </div>
                                                            </div>
                                                            <div class="djclear"></div>
                                                            <div class="djtabs-in-border">
                                                                <div class="djtabs-in">
    
                                                                    <div class="djtabs-body accordion-body djclear type-article">
                                                                        <div class="djtabs-body-in djtabs-article-body-in">
                                                                            <div class="djtabs-article-group djtabs-group-active">
                                                                                <div class="djtabs-article-content">
                                                                                    <p>A variety of restorative and preventative dental services are offered by our office, each designed to extend your dental health, contribute to your outer appearance and inner confidence. Establishing lasting relationships with our patients is of utmost importance. We want your smile to last for many years.</p>
    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="djtabs-title-wrapper">
                                                                <div id="mod235_djtab3" class="djtabs-title djtabs-accordion mod235_djtabs_help_class">
                                                                    <span class="djtab-text" title="Cosmetic Dentistry">
                                            Cosmetic Dentistry</span>
                                                                </div>
                                                            </div>
                                                            <div class="djclear"></div>
                                                            <div class="djtabs-in-border">
                                                                <div class="djtabs-in">
    
                                                                    <div class="djtabs-body accordion-body djclear type-article">
                                                                        <div class="djtabs-body-in djtabs-article-body-in">
                                                                            <div class="djtabs-article-group djtabs-group-active">
                                                                                <div class="djtabs-article-content">
                                                                                    <p>We offer various cosmetic services such as Six Month Braces, iNMAN Aligner, Dental Implants, Teeth Whitening, and One Visit Crowns!</p>
    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
    
                                                        <script>
                                                            window.addEvent('resize', function() {
                                                                resetPanelsText('mod235_');
                                                                setPanelsText('mod235_');
                                                              });
                                                              
                                                                window.addEvent('domready', function(){
                                                                  
                                                            
                                                                 new Fx.Accordion(document.id('mod235_djtabs'), '#mod235_djtabs .djtabs-title', '#mod235_djtabs .djtabs-in-border',
                                                                 {
                                                                   initialDisplayFx: false,
                                                                   alwaysHide: true,
                                                                          onActive: function(toggler, element){
                                                                  toggler.addClass('djtabs-active');
                                                                  toggler.getParent().addClass('djtabs-active-wrapper');
                                                                    },
                                                                onBackground: function(toggler, element){
                                                                  toggler.removeClass('djtabs-active');
                                                                  toggler.getParent().removeClass('djtabs-active-wrapper');
                                                                toggleVideo(element,0);		}
                                                                 }
                                                                 );
                                                                 
                                                                 var accordionsArray = $$('.mod235_accordion_help_class.accordion_first_out');
                                                                 for (i=1; i<=accordionsArray.length; i++)
                                                                 {
                                                                      var accordion_id = accordionsArray[i-1].id;
                                                                   new Fx.Accordion(document.id(accordion_id), '#'+accordion_id+' .djtabs-panel', '#'+accordion_id+' .djtabs-article-body',
                                                                   {
                                                                  alwaysHide: true,
                                                                  onActive: function(toggler, element){
                                                                    toggler.addClass('djtabs-panel-active');
                                                                    toggler.getParent().addClass('djtabs-group-active');
                                                                  },
                                                                  onBackground: function(toggler, element){
                                                                    toggler.removeClass('djtabs-panel-active');
                                                                    toggler.getParent().removeClass('djtabs-group-active');
                                                                  }
                                                                  }
                                                                   );
                                                                }
                                                                
                                                                var accordionsArray = $$('.mod235_accordion_help_class.accordion_all_in');
                                                                 for (i=1; i<=accordionsArray.length; i++)
                                                                 {
                                                                      var accordion_id = accordionsArray[i-1].id;
                                                                   new Fx.Accordion(document.id(accordion_id), '#'+accordion_id+' .djtabs-panel', '#'+accordion_id+' .djtabs-article-body',
                                                                   {
                                                                  alwaysHide: true,
                                                                  display: -1,
                                                                  onActive: function(toggler, element){
                                                                    toggler.addClass('djtabs-panel-active');
                                                                    toggler.getParent().addClass('djtabs-group-active');
                                                                  },
                                                                  onBackground: function(toggler, element){
                                                                    toggler.removeClass('djtabs-panel-active');
                                                                    toggler.getParent().removeClass('djtabs-group-active');
                                                                  }
                                                                  }
                                                                   );
                                                                }
                                                            
                                                                  setPanelsText('mod235_');
                                                                 document.id('mod235_djtabs').setStyle('visibility','visible');
                                                                 document.id('mod235_djtabs_loading').hide();
                                                              });
                                                        </script>
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top-in span4">
                                        <div class="top-bg">
                                            <div class="jm-module  testimonials-ms">
                                                <div class="jm-module-in">
                                                    <h3 class="jm-title "><span>Why</span> us?</h3>
                                                    <div class="jm-module-content clearfix ">
    
                                                        <div style="border: 0px !important;">
                                                            <div id="djslider-loader16m237" class="djslider-loader">
    
                                                                <div id="djslider16m237" class="djslider">
                                                                    <div id="slider-container16m237" class="slider-container">
                                                                        <ul id="slider16m237">
                                                                            <li>
                                                                                <img src="{% static 'media/djmediatools/cache/356x274-crop-90-images_djmediatools_1.jpg' %}" alt="Testimonials 1" class="dj-image" />
                                                                                <div class="dj-slide-desc">
                                                                                    <!-- Slide description area: START -->
                                                                                    <div class="dj-slide-desc-in">
                                                                                        <div class="dj-slide-desc-bg"></div>
                                                                                        <div class="dj-slide-desc-text">
    
                                                                                            <div class="dj-slide-title">
                                                                                                Testimonials 1 </div>
    
                                                                                            <div class="dj-slide-description">
                                                                                                <div class="jm-custom-text">
                                                                                                    <p>The staff of Fort O Smiles Family Dentistry is committed to the concept of gentle, personalized care. You will find our office atmosphere friendly, our treatment room accommodations comfortable and the technical services exceptional.”</p>
                                                                                                </div>
                                                                                                <div class="jm-custom-title">Fort O Smiles</div>
                                                                                            </div>
    
                                                                                            <div style="clear: both"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- Slide description area: END -->
                                                                                </div>
    
                                                                            </li>
                                                                            <li>
                                                                                <img src="{% static 'media/djmediatools/cache/356x274-crop-90-images_djmediatools_2.jpg' %}" alt="Testimonials 2" class="dj-image" />
                                                                                <div class="dj-slide-desc">
                                                                                    <!-- Slide description area: START -->
                                                                                    <div class="dj-slide-desc-in">
                                                                                        <div class="dj-slide-desc-bg"></div>
                                                                                        <div class="dj-slide-desc-text">
    
                                                                                            <div class="dj-slide-title">
                                                                                                Testimonials 2 </div>
    
                                                                                            <div class="dj-slide-description">
                                                                                                <div class="jm-custom-text">
                                                                                                    <p>“Our office procedures for safety and cleanliness exceed the American Dental Association standards for a safe practice. Along with the proper sterilization of instruments and materials, sterilizer monitoring by a third party is an essential part of our in-office infection control program.</p>
                                                                                                </div>
                                                                                                <div class="jm-custom-title">Fort O Smiles</div>
                                                                                                <div class="jm-custom-subtitle"> </div>
                                                                                            </div>
    
                                                                                            <div style="clear: both"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- Slide description area: END -->
                                                                                </div>
    
                                                                            </li>
                                                                            <li>
                                                                                <img src="{% static 'media/djmediatools/cache/356x274-crop-90-images_djmediatools_3.jpg' %}" alt="Testimonials 3" class="dj-image" />
                                                                                <div class="dj-slide-desc">
                                                                                    <!-- Slide description area: START -->
                                                                                    <div class="dj-slide-desc-in">
                                                                                        <div class="dj-slide-desc-bg"></div>
                                                                                        <div class="dj-slide-desc-text">
    
                                                                                            <div class="dj-slide-title">
                                                                                                Testimonials 3 </div>
    
                                                                                            <div class="dj-slide-description">
                                                                                                <div class="jm-custom-text">
                                                                                                    <p>“Our goal is to provide dental care that will enhance the quality of your life. Establishing lasting relationships with our patients is of utmost importance to us. We want to make sure your smile lasts for many years to come.”</p>
                                                                                                </div>
                                                                                                <div class="jm-custom-title">Fort O Smiles</div>
                                                                                            </div>
    
                                                                                            <div style="clear: both"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- Slide description area: END -->
                                                                                </div>
    
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div id="cust-navigation16m237" class="navigation-container-custom">
                                                                        <div class="cust-navigation-in">
                                                                            <span class="load-button load-button-active"></span><span class="load-button"></span><span class="load-button"></span> </div>
                                                                    </div>
                                                                </div>
    
                                                            </div>
                                                        </div>
                                                        <div style="clear: both"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top-in span4">
                                        <div class="top-bg">
                                            <div class="jm-module ">
                                                <div class="jm-module-in">
                                                    <h3 class="jm-title "><span>Opening</span> Hours</h3>
                                                    <div class="jm-module-content clearfix ">
    
                                                        <div class="custom">
                                                            <div class="jm-table-hours">
                                                                <div class="hours-row clearfix">
                                                                    <div class="col1 jm-color">Monday</div>
                                                                    <div class="col2 jm-color">→</div>
                                                                    <div class="col3">8<sup>30</sup> am</div>
                                                                    <div class="col4">-</div>
                                                                    <div class="col5">5 <sup>00</sup> pm</div>
                                                                </div>
                                                                <div class="hours-row clearfix">
                                                                    <div class="col1 jm-color">Tuesday</div>
                                                                    <div class="col2 jm-color">→</div>
                                                                    <div class="col3">8<sup>30</sup> am</div>
                                                                    <div class="col4">-</div>
                                                                    <div class="col5">5 <sup>00</sup> pm</div>
                                                                </div>
                                                                <div class="hours-row clearfix">
                                                                    <div class="col1 jm-color">Wednesday</div>
                                                                    <div class="col2 jm-color">→</div>
                                                                    <div class="col3">8<sup>30</sup> am</div>
                                                                    <div class="col4">-</div>
                                                                    <div class="col5">5 <sup>00</sup> pm</div>
                                                                </div>
                                                                <div class="hours-row clearfix">
                                                                    <div class="col1 jm-color">Thursday</div>
                                                                    <div class="col2 jm-color">→</div>
                                                                    <div class="col3">8<sup>30</sup> am</div>
                                                                    <div class="col4">-</div>
                                                                    <div class="col5">5 <sup>00</sup> pm</div>
                                                                </div>
                                                                <div class="hours-row clearfix">
                                                                    <div class="col1 jm-color">Friday Closed</div>
                                                                </div>
                                                                <div class="hours-row clearfix">
                                                                    <div class="col1 jm-color">Sunday &amp; Saturday Closed</div>
                                                                </div>
                                                            </div>
                                                        </div>
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    
                <section id="jm-main">
                    <div id="jm-main-in" class="container">
                        <div id="jm-main-space" class="clearfix">
    
                            <div id="jm-content-wrapper">
                                <div id="jm-content-wrapper-in">
                                    <div id="jm-content-wrapper-bg" class="clearfix ">
                                        <div id="jm-middle-page">
                                            <div id="jm-content">
    
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    
                <section id="jm-bottom">
                    <div id="jm-bottom-in" class="container">
                        <div id="jm-bottom-space">
                            <div class="bottom count_3">
                                <div class="row">
                                    <div class="bottom-in span4">
                                        <div class="bottom-bg">
                                            <div class="jm-module ">
                                                <div class="jm-module-in">
                                                    <div class="jm-module-content clearfix notitle">
    
                                                        <div class="custom">
                                                            <div class="jm-bottom-box">
                                                                <div class="icon">
                                                                    <a href="/component/contact/contact/1.html?Itemid=580"><img src="{% static 'images/modules/icons/icon-phone.png' %}" alt="" /></a>
                                                                </div>
                                                                <div class="content"><span class="title jm-color">Make an appointment</span><span class="desc">(706) 956-8424</span></div>
                                                            </div>
                                                        </div>
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom-in span4">
                                        <div class="bottom-bg">
                                            <div class="jm-module ">
                                                <div class="jm-module-in">
                                                    <div class="jm-module-content clearfix notitle">
    
                                                        <div class="custom">
                                                            <div class="jm-bottom-box">
                                                                <div class="icon">
                                                                    <a href="/component/contact/contact/1.html?Itemid=580"><img src="{% static 'images/modules/icons/icon-mail.png' %}" alt="" /></a>
                                                                </div>
                                                                <div class="content"><span class="title jm-color">Send us a message</span><span class="desc"><a href="mailto:FortOSmiles@gmail.com">FortOSmiles@gmail.com</a></span></div>
                                                            </div>
                                                        </div>
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom-in span4">
                                        <div class="bottom-bg">
                                            <div class="jm-module ">
                                                <div class="jm-module-in">
                                                    <div class="jm-module-content clearfix notitle">
    
                                                        <div class="custom">
                                                            <div class="jm-bottom-box">
                                                                <div class="icon">
                                                                    <a href="https://www.google.com/maps/dir//138+Battlewood+Dr,+Fort+Oglethorpe,+GA+30742/@34.9515076,-85.2421376,17z/data=!4m13!1m4!3m3!1s0x886067d98b32c801:0x1ca31fa89de5f9d!2s138+Battlewood+Dr,+Fort+Oglethorpe,+GA+30742!3b1!4m7!1m0!1m5!1m1!1s0x886067d98b32c801:0x1ca31fa89de5f9d!2m2!1d-85.242202!2d34.9514812" target="_blank"><img src="{% static 'images/modules/icons/icon-direction.png' %}" alt="" /></a>
                                                                </div>
                                                                <div class="content"><span class="title jm-color">Visit us</span><span class="desc">138 Battlewood Drive</span></div>
                                                            </div>
                                                        </div>
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
    
            <footer id="jm-footer">
                <div id="jm-footer-in" class="container clearfix">
                    <div id="jm-footer-space">
                        <div id="jm-footer-wrapper" class="clearfix">
                            <div id="jm-footer-left" class="pull-left">
                                <div id="jm-copyrights">
                                    <h3>
    
                                        <div class="custom">
                                            <p style="margin: 0;">Fort O Smiles Family Dentistry © All rights reserved</p>
                                        </div>
                                    </h3>
                                </div>
                            </div>
                            <div id="jm-footer-center" class="pull-left">
                            </div>
                            <div id="jm-footer-right" class="pull-right">
                                <h3>Call us today! (706) 956 - 8424</h3>
    
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </footer>
        </div>
{% endblock %}